body{
    background: url("https://images.template.net/95613/blue-aesthetic-background-k2k0c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    height: 250px;
    width: 550px;
    border: 2px solid rgb(103, 103, 209);
    margin: auto;
    margin-top: 10%;
    background-color: rgba(255, 255, 255,0.5);
}